<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class> my.web.RegisterServlet</servlet-class>
    </servlet>
<!--    映射-->
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>my.web.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
  <servlet>
      <servlet-name>UserAction</servlet-name>
      <servlet-class>my.web.UserAction</servlet-class>
  </servlet>
    <servlet-mapping>
        <servlet-name>UserAction</servlet-name>
        <url-pattern>/UserAction</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>my.web.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/manager/BookServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ClientServlet</servlet-name>
        <servlet-class>my.web.ClientServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ClientServlet</servlet-name>
        <url-pattern>/Client/ClientServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>KaptchaServlet</servlet-name>
        <servlet-class>com.google.code.kaptcha.servlet.KaptchaServlet
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>KaptchaServlet</servlet-name>
        <url-pattern>/KaptchaServlet.jpg</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingServlet</servlet-name>
        <servlet-class>my.web.ShoppingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingServlet</servlet-name>
        <url-pattern>/ShoppingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>OrderServlet</servlet-name>
        <servlet-class>my.web.OrderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderServlet</servlet-name>
        <url-pattern>/OrderServlet</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>ManagerFilter</filter-name>
        <filter-class>my.Filter.ManagerFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ManagerFilter</filter-name>
        <url-pattern>/pages/manager/*</url-pattern>
        <url-pattern>/manager/BookServlet</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>FilterTransaction</filter-name>
        <filter-class>my.Filter.FilterTransaction</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FilterTransaction</filter-name>
<!--        /*表示过滤所有资源-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <error-page>
<!--        location表示发生错误要跳转的路径-->
        <location>/pages/error/error.jsp</location>
<!--        error-code是错误信息-->
        <error-code>500</error-code>
    </error-page>
</web-app>